{% extends 'YodaEventBundle::layout.html.twig' %}


{% block body -%}
    <section class="events">
        <header id="menu">
            <a class="button" href="{{ path('event_new') }}">Create new event</a>
        </header>

        {% for entity in entities %}
            <article>
                <header class="map-container">
                    <img src="http://maps.googleapis.com/maps/api/staticmap?center={{ entity.location }}&zoom=13&size=200x100&maptype=roadmap">
                </header>
                <section>
                    <h3>
                        <a href="{{ path('event_show', { 'id': entity.id }) }}">{{ entity.name }}</a>
                    </h3>
                    <dl>
                        <dt>where:</dt>
                        <dd>{{ entity.location }}</dd>

                        <dt>when:</dt>
                        <dd>{{ entity.time|date('g:ia / l M j, Y') }}</dd>

                        <dt>who:</dt>
                        <dd>Todo # of people</dd>
                    </dl>
                </section>
            </article>
        {% endfor %}
    </section>

    {% endblock %}
